.fancybox-skin { border-radius: 6px; background: #fff; padding: 3px !important; }

.fancybox-close { right: -30px; top: -30px; background-size: auto; background-image: url(../img/fancy-close.png) !important; }

.modal { display: none; }
.modal .button-wrap { margin-top: 15px; text-align: center; }
.modal .button { background: none; border: none; }
.modal h4 { padding-bottom: 25px; }

.product { padding: 60px 0 35px; }
@media only screen and (max-width: 1000px) { .product { padding: 30px 0 45px; } }
@media only screen and (max-width: 700px) { .product { padding: 25px 0 25px; } }
.product__items { padding: 30px 0; }
@media only screen and (max-width: 700px) { .product__items { padding: 0; } }
.product__items-wrap { width: 50%; float: left; }
@media only screen and (max-width: 1000px) { .product__items-wrap { width: 100%; float: none; } }
.product .item__inner { display: block; border-radius: 7px; overflow: hidden; height: 225px; -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1); position: relative; background: #335bab; }
@media only screen and (max-width: 1000px) and (min-width: 700px) { .product .item__inner { height: 260px; } }
.product .item__inner:hover .item__title { text-decoration: none; border-color: transparent; }
.product__item { padding: 15px 15px 15px 0; }
@media only screen and (max-width: 1000px) { .product__item { width: 33.33%; float: left; padding: 15px; }
  .product__item_first { padding-left: 0; }
  .product__item_third { padding-right: 0; } }
@media only screen and (max-width: 700px) { .product__item { width: 100%; max-width: 295px; margin: 0 auto; float: none; padding: 15px 0 !important; } }
.product__item_big { padding: 15px 0 0 15px; }
@media only screen and (min-width: 1000px) { .product__item_big .item__inner { height: 480px; } }
.product .item__image { overflow: hidden; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f5+0,dbe0ea+100 */ background: #edf0f5; /* Old browsers */ background: -moz-linear-gradient(top, #edf0f5 0%, #dbe0ea 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #edf0f5 0%, #dbe0ea 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #edf0f5 0%, #dbe0ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f5', endColorstr='#dbe0ea',GradientType=0 ); /* IE6-9 */ border-radius: 50%; width: 320px; height: 320px; position: absolute; z-index: 300; }
.product .item__image .item__img { z-index: 305; top: 30%; left: 34%; position: absolute; }
.product .item__image_second img { top: 29%; left: 12%; }
.product .item__image_third img { top: 17%; left: 9%; }
@media only screen and (min-width: 1000px) { .product .item__image { left: -95px; top: -50px; }
  .product .item__image .item__img-mob { display: none; }
  .product .item__image_second { left: auto; right: -130px; }
  .product .item__image_second .item__img { top: 29%; left: 12%; }
  .product .item__image_third { left: auto; right: -297px; top: auto; bottom: -297px; width: 646px; height: 646px; }
  .product .item__image_third .item__img { top: 17%; left: 9%; } }
@media only screen and (max-width: 1000px) { .product .item__image { left: 50%; margin-left: -160px; bottom: -185px; }
  .product .item__image .item__img { position: relative; top: auto; left: auto; margin: 15px auto 0; width: 145px; height: 120px; }
  .product .item__image .item__img-des { display: none; }
  .product .item__image .item__img-mob { display: block; }
  .product .item__image_second .item__img { top: -25px; left: 15px; } }
.product .item__bg { display: block; opacity: 0.38; width: 100%; height: auto; height: 100%; }
.product .item__title { display: inline-block; position: absolute; color: #fff; font-size: 22px; z-index: 1000; text-decoration: none; border-bottom: 1px solid #fff; line-height: 1; }
.product .item__title::before { content: ""; position: absolute; left: -22px; top: 9px; display: block; width: 13px; height: 13px; background: url(../img/yellow-circle.png) 0 0 no-repeat; }
.product .item__title_first { bottom: 43px; right: 35px; }
.product .item__title_second { top: 45px; left: 60px; }
.product .item__title_third { top: 45px; left: 60px; }
@media only screen and (max-width: 1200px) { .product .item__title { text-decoration: underline; border: 0; line-height: 25px; font-size: 19px; } }
@media only screen and (max-width: 1000px) { .product .item__title { top: 25px; left: 40px; right: auto; bottom: auto; } }

.equipment { background: url(../img/equipment-bg.jpg) 0 0/cover no-repeat; }
@media only screen and (max-width: 700px) { .equipment { padding: 18px 0 30px; }
  .equipment__button { text-align: center; } }
.equipment__descr { font-size: 23px; color: #fff; display: block; padding: 15px 0 30px; line-height: 20px; }
@media only screen and (max-width: 1000px) { .equipment__descr { font-size: 19px; } }
@media only screen and (max-width: 700px) { .equipment__descr { font-size: 16px; text-align: center; } }
.equipment .container { position: relative; padding: 125px 15px 130px; }
@media only screen and (max-width: 1000px) { .equipment .container { padding: 75px 15px 125px; } }
@media only screen and (max-width: 700px) { .equipment .container { padding: 0 15px; } }
.equipment_order { position: absolute; right: 0; bottom: -35px; }
@media only screen and (max-width: 700px) { .equipment_order { display: none; } }

.fast { padding: 47px 0 45px; }
@media only screen and (max-width: 991px) { .fast { padding: 20px 0; } }
.fast__inner { position: relative; }
.fast__triangle { position: absolute; width: 0; height: 0; border-style: solid; border-width: 0 18.5px 21px 18.5px; border-color: transparent transparent #efefef transparent; left: 15px; top: -21px; z-index: 100; }
@media only screen and (max-width: 991px) { .fast__triangle { top: auto; bottom: -21px; transform: rotate(180deg); } }
.fast__triangle::before { content: ""; position: absolute; top: 5px; left: -15px; width: 0; height: 0; border-style: solid; border-width: 0 14.5px 17px 14.5px; border-color: transparent transparent #fff transparent; z-index: 105; }
.fast__content-wrap { padding: 0 35px 0 0; }
@media only screen and (max-width: 991px) { .fast__content-wrap { padding: 0; } }
.fast__content { background: url(../img/fast-bg.png) 130% 122% no-repeat; margin: 40px 0 0; border: 4px solid #efefef; border-radius: 3px; position: relative; padding: 15px 35px; }
@media only screen and (max-width: 700px) { .fast__content { padding: 10px 18px; margin: 20px 0 0; } }
.fast__text { font-size: 16px; color: #555; padding: 15px 0; }
@media only screen and (max-width: 700px) { .fast__text { font-size: 15px; padding: 10px 0; line-height: 20px; padding: 10px 16px; }
  .fast__text strong { font-family: "GothamProBold"; } }
.fast .form_for_main_page { margin: 40px 0 20px; }
@media only screen and (max-width: 991px) { .fast .form_for_main_page { margin: 30px 0 20px; max-width: 100%; }
  .fast .form_for_main_page label { display: block; } }
.fast__button { text-align: center; margin-top: 19px; }
.fast button { background: none; border: none; }
@media only screen and (max-width: 1200px) and (min-width: 991px) { .fast .form_for_main_page__left, .fast .form_for_main_page__right { width: 48%; } }

.contacts { padding: 50px 0 0; }
@media only screen and (max-width: 991px) { .contacts { padding: 25px 0 0; } }
.contacts__inner { padding: 40px 0 0; }
@media only screen and (max-width: 991px) { .contacts__inner { padding: 25px 0 0; } }
.contacts__items { padding-bottom: 45px; margin: 0 -12px; }
@media only screen and (max-width: 700px) { .contacts__items { padding-bottom: 15px; } }
.contacts__item { width: 25%; float: left; padding: 0 12px; margin-bottom: 10px; }
@media only screen and (max-width: 1200px) { .contacts__item { width: 50%; } }
@media only screen and (max-width: 580px) { .contacts__item { margin: 0 auto 10px; max-width: 300px; width: 100%; float: none; } }
.contacts .item { background-color: #e8eff2; padding: 20px 10px 0 64px; height: 122px; border-radius: 7px; position: relative; }
.contacts .item::before { content: ""; position: absolute; left: 20px; display: block; background-image: url(../img/contacts-ic.png); background-repeat: no-repeat; }
.contacts .item_mape::before { background-position: 0 -8px; height: 32px; width: 24px; top: 26px; }
.contacts .item_massage::before { background-position: -29px -12px; height: 24px; width: 32px; top: 29px; }
.contacts .item_time::before { background-position: -66px -10px; height: 32px; width: 32px; top: 27px; }
.contacts .item_number::before { background-position: -102px -9px; height: 32px; width: 31px; top: 27px; }
.contacts .item__text { color: #2f4c5b; font-size: 15px; display: block; }
.contacts .item__link { font-size: 14px; color: #196690; display: inline-block; border-bottom: 1px solid #c1d5e0; line-height: 1.3; padding-bottom: 2px; }
.contacts .item__title { font-size: 15px; color: #2f4c5b; font-family: "GothamProMedium"; display: block; }
.contacts .item__number { font-size: 19px; color: #2f4c5b; font-family: "GothamProMedium"; display: block; }
.contacts .mape { margin-bottom: 50px; }
@media only screen and (max-width: 991px) { .contacts .mape { margin-bottom: 25px; } }
.contacts .form__title { color: #484e4c; font-size: 34px; display: block; text-align: center; line-height: 1.3; }
@media only screen and (max-width: 1000px) { .contacts .form__title { font-size: 18px; } }
.contacts .form__descr { color: #737876; font-size: 21px; display: block; text-align: center; line-height: 1.3; }
@media only screen and (max-width: 1000px) { .contacts .form__descr { font-size: 15px; } }
.contacts .form_for_inner_page { margin: 25px 0 50px; }
@media only screen and (max-width: 991px) { .contacts .form_for_inner_page { margin: 15px 0 25px; } }
.contacts .form_for_inner_page button { background: none; border: none; }

.about { padding: 57px 0; }
.about__descr { padding: 28px 0; font-size: 19px; color: #393f41; display: block; }
@media only screen and (max-width: 700px) { .about__descr { padding: 15px 0; } }
.about .ul { margin-bottom: 25px; }
.about .q { margin-bottom: 22px; }
.about__text { color: #5f5f5f; font-size: 15px; text-align: center; padding-bottom: 45px; }
@media only screen and (max-width: 700px) { .about__text { padding-bottom: 25px; line-height: 1.3; } }
.about__order-title { display: block; font-size: 34px; color: #484e4c; text-align: center; padding-bottom: 8px; }
@media only screen and (max-width: 991px) { .about__order-title { font-size: 18px; padding-bottom: 0; } }
.about__order-descr { text-align: center; display: block; font-size: 21px; color: #737876; padding-bottom: 25px; line-height: 1.3; }
@media only screen and (max-width: 991px) { .about__order-descr { font-size: 15px; padding-bottom: 15px; } }
.about .button { border: none; background: none; }
.about__photos-block { margin: 0 -15px; }
.about__photo { width: 33.33%; float: left; padding: 0 15px 15px; }
@media only screen and (max-width: 700px) { .about__photo { width: 100%; } }
.about .photo { display: block; border: 5px solid #e5e5e5; border-radius: 5px; background: #233944; overflow: hidden; }
@media only screen and (max-width: 700px) { .about .photo { max-width: 375px; margin: 0 auto; } }
.about .photo img { display: block; width: 100%; height: auto; min-height: 100%; }
.about .photo:hover { border-color: #006887; }
.about .photo:hover img { opacity: 0.52; }

.last-article { padding: 40px 0 0; }

.article { padding: 25px 15px; margin: 0 auto; max-width: 400px; }
@media only screen and (max-width: 700px) { .article { padding: 15px; } }
.article__img { position: relative; border-radius: 4px; overflow: hidden; margin-bottom: 10px; }
.article__img img { display: block; }
.article__img-descr { position: absolute; color: #fff; font-size: 16px; display: block; font-family: "GothamProBold"; left: 35px; bottom: 30px; text-transform: uppercase; padding-left: 20px; line-height: 16px; background: url(../img/yellow-circle.png) 0 1px no-repeat; }
.article__txt { color: #484e4c; font-size: 15px; line-height: 23px; padding-bottom: 2px; }
.article__info { position: relative; padding: 7px 0 0; }
.article__info::before { content: ""; height: 1px; width: 100%; background: #e3e3e3; top: 50%; position: absolute; left: 0; z-index: -1; }
@media only screen and (max-width: 360px) { .article__info::before { display: none; } }
.article__date { margin-top: 2px; padding: 0 10px 0 22px; font-size: 14px; z-index: 100; color: #636363; float: left; display: inline-block; background: #fff url(../img/article__date-ic.png) left center no-repeat; }
.article__button { z-index: 100; display: inline-block; float: right; padding-left: 10px; background: #fff; }
@media only screen and (max-width: 360px) { .article__button { float: none; padding-left: 0; } }
.article__nav { margin-top: 15px; padding: 22px 0 12px; background: #eeeeef; }
.article__page { display: inline-block; border-radius: 4px; width: 37px; line-height: 37px; text-align: center; background: #fff; color: #434444; font-size: 14px; transition: 0.3s all ease; margin: 0 10px 10px 0; }
.article__page:hover { color: #fff; background: #34393b; }
.article__nav-button { margin-bottom: 10px; display: inline-block; font-size: 14px; color: #fff; line-height: 37px; padding: 0 33px 0 20px; transition: 0.3s all ease; border-radius: 4px; background: #006087 url(../img/article__nav-ic.png) center right 15px no-repeat; }
.article__nav-button:hover { background-color: #023245; }

@media only screen and (max-width: 450px) { .fancybox-wrap, .fancybox-desktop, .fancybox-type-image, .fancybox-opened { width: 92% !important; left: 4% !important; }
  .fancybox-wrap .fancybox-inner, .fancybox-desktop .fancybox-inner, .fancybox-type-image .fancybox-inner, .fancybox-opened .fancybox-inner { width: 100% !important; }
  .fancybox-close { right: -3px; } }
