.video-page { padding: 100px 0; }
@media only screen and (max-width: 992px) { .video-page { padding: 50px 0; } }
@media only screen and (max-width: 700px) { .video-page { padding: 20px 0; } }
.video-page .h2 { font-weight: 700; text-align: center; text-transform: uppercase; font-size: 36px; line-height: 1.4; color: #000; }
.video-page .video_descr { color: #333333; font-family: 'Uni Sans', 'Open Sans', arial sans-serif; font-size: 20px; display: block; text-align: center; text-transform: uppercase; font-weight: 300; color: #000; line-height: 1.4; }

.video { margin: 25px auto; }
@media only screen and (max-width: 768px) { .video { margin: 0 auto; } }
.video iframe { width: 100%; height: auto; display: block; border-width: 0; min-height: 100%; }
.video_big { max-width: 720px; height: 405px; }
@media only screen and (max-width: 768px) { .video_big { margin: 15px auto; height: 300px; } }
@media only screen and (max-width: 380px) { .video_big { height: 210px; } }
.video_sm { height: 210px; }
@media only screen and (max-width: 768px) { .video_sm iframe { margin: 10px auto; width: auto; height: auto; } }

.top-line { position: relative; }

.menu-wrap { float: right; padding-top: 8px; }
.menu-wrap .main-menu_padding { padding: 20px 0 0; }
@media only screen and (max-width: 356px) { .menu-wrap { float: none; } }

@media only screen and (max-width: 992px) { .main-menu-burger a { display: block; text-align: right; } }
@media only screen and (max-width: 356px) { .main-menu-burger a { text-align: left; } }

.photo-page { padding: 100px 0; }
@media only screen and (max-width: 992px) { .photo-page { padding: 50px 0; } }
@media only screen and (max-width: 700px) { .photo-page { padding: 20px 0; } }
.photo-page .h2 { font-weight: 700; text-align: center; text-transform: uppercase; font-size: 36px; line-height: 1.4; color: #000; padding-bottom: 15px; }
@media only screen and (max-width: 992px) { .photo-page .h2 { font-size: 24px; } }
@media only screen and (max-width: 700px) { .photo-page .h2 { font-size: 16px; } }
.photo-page .photo_descr { color: #333333; font-size: 16px; display: block; text-align: center; font-weight: 300; color: #000; line-height: 1.4; margin: 0 auto; max-width: 780px; padding-bottom: 10px; width: 70%; }
.photo-page .form-inner { text-align: center; padding: 5px 0 15px; }
.photo-page .form-wrap { display: inline-block; overflow: hidden; }
.photo-page .form-wrap__input { width: 250px; }
.photo-page .form-wrap__button { width: auto; }
.photo-page .form-wrap span { display: block; line-height: 35px; border: 1px solid #ccc; border-radius: 4px; padding: 0 12px; margin-right: 8px; color: grey; text-align: left; cursor: pointer; }
.photo-page .form-wrap input { display: none; }
.photo-page .photo-block { width: 720px; margin: 0 auto; }
@media only screen and (max-width: 750px) { .photo-page .photo-block { width: 100%; } }
.photo-page .photo_half { float: left; width: 50%; }
@media only screen and (max-width: 750px) { .photo-page .photo_half { float: none; width: 100%; } }
.photo-page .photo_half .fancybox { overflow: hidden; }
.photo-page .photo_half .fancybox img { display: block; min-width: 100%; width: auto; height: 200px; }
@media only screen and (max-width: 750px) { .photo-page .photo_half .fancybox img { width: 100%; height: auto; } }
.photo-page .photo_half .fancybox .photo_big { height: 400px; }
@media only screen and (max-width: 750px) { .photo-page .photo_half .fancybox .photo_big { height: auto; } }
.photo-page .photo_half .half_sm .fancybox { float: left; width: 50%; }

.fancybox-wrap, .fancybox-desktop, .fancybox-type-inline, .fancybox-opened { width: 88% !important; left: 6% !important; height: auto !important; }

.fancybox-inner { width: 100% !important; height: auto !important; }

.header-top { background: url(../img/header-top-bg.jpg) center/cover; }
.header-top .header-color { padding: 100px 0; background: rgba(14, 32, 48, 0.76078); }
@media only screen and (max-width: 992px) { .header-top .header-color { padding: 50px 0; } }
@media only screen and (max-width: 700px) { .header-top .header-color { padding: 20px 0; } }
.header-top .button-wrap { padding: 50px 0 0; text-align: center; }
.header-top .h1 { padding: 50px 0 0; line-height: 1; font-weight: 300; }
@media only screen and (max-width: 1000px) { .header-top .h1 { padding: 15px 0 0; } }
.header-top .logo { display: inline-block; float: left; }
@media only screen and (max-width: 356px) { .header-top .logo { float: none; } }
