.fancybox-skin{
	border-radius: 6px;
	background: #fff;
	padding: 3px !important;
}
.fancybox-wrap, .fancybox-desktop, .fancybox-type-inline, .fancybox-opened{
	// width: 100%!important;
	// max-width: 460px;
}
.fancybox-close{
	right: -30px;
	top: -30px;
	background-size: auto;
	background-image: url(../img/fancy-close.png)!important;
}
.modal{
	display: none;
	.button-wrap{
		margin-top: 15px;
		text-align: center;
	}
	.button{
		background: none;
		border: none;
	}
	h4{
		padding-bottom: 25px;
	}
}
.product{
	padding: 60px 0 35px;
	@media only screen and (max-width : 1000px) {
		padding: 30px 0 45px;
	}
	@media only screen and (max-width : 700px) {
		padding: 25px 0 25px;
	}
	&__items{
		padding: 30px 0;
		@media only screen and (max-width : 700px) {
			padding: 0;
		}
	}
	&__items-wrap{
		width: 50%;
		float: left;
		@media only screen and (max-width : 1000px) {
			width: 100%;
			float: none;
		}
	}
	.item__inner{
		display: block;
		border-radius: 7px;
		overflow: hidden;
		height: 225px;
		-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
		position: relative;
		background: #335bab;
		@media only screen and (max-width : 1000px) and (min-width : 700px) {
			height: 260px;
		}
		&:hover{
			.item__title{
				text-decoration: none;
				border-color: transparent;
			}
		}
	}
	&__item{
		padding: 15px 15px 15px 0;
		@media only screen and (max-width : 1000px) {
			width: 33.33%;
			float: left;
			padding: 15px;
			&_first{
				padding-left: 0;
			}
			&_third {
				padding-right: 0;
			}
		}
		@media only screen and (max-width : 700px) {
			width: 100%;
			max-width: 295px;
			margin: 0 auto;
			float: none;
			padding: 15px 0!important;
		}
		&_big{
			padding: 15px 0 0 15px;
			.item__inner{
				@media only screen and (min-width : 1000px) {
					height: 480px;
				}
			}
		}
	}
	.item__image{
		overflow: hidden;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f5+0,dbe0ea+100 */
		background: #edf0f5; /* Old browsers */
		background: -moz-linear-gradient(top, #edf0f5 0%, #dbe0ea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #edf0f5 0%,#dbe0ea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #edf0f5 0%,#dbe0ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f5', endColorstr='#dbe0ea',GradientType=0 ); /* IE6-9 */
		border-radius: 50%;
		width: 320px;
		height: 320px;
		position: absolute;
		z-index: 300;
		.item__img{
			z-index: 305;
	    top: 30%;
  	  left: 34%;
  	  position: absolute;
		}
		&_second{
			img{
	      top: 29%;
      	left: 12%;
			}
		}
		&_third{
			img{
		    top: 17%;
 				left: 9%;
			}
		}
		@media only screen and (min-width : 1000px) {
			left: -95px;
			top: -50px;
			.item__img-mob{
				display: none;
			}
			&_second{
				left: auto;
				right: -130px;
				.item__img{
		      top: 29%;
	      	left: 12%;
				}
			}
			&_third{
				left: auto;
				right: -297px;
				top: auto;
				bottom: -297px;
				width: 646px;
				height: 646px;
				.item__img{
			    top: 17%;
   				left: 9%;
				}
			}
		}
		@media only screen and (max-width : 1000px) {
			left: 50%;
			margin-left: -160px;
			bottom: -185px;
			.item__img{
				position: relative;
				top: auto;
				left: auto;
				margin: 15px auto 0;
				width: 145px;
				height: 120px;
			}
			.item__img-des{
				display: none;
			}
			.item__img-mob{
				display: block;
			}
			&_second{
				.item__img{
          top: -25px;
				  left: 15px;
				}
			}
		}
	}
	.item__bg{
		display: block;
		opacity: 0.38;
		width: 100%;
		height: auto;
		height: 100%;
	}
	.item__title{
		display: inline-block;
		position: absolute;
		color: #fff;
		font-size: 22px;
		z-index: 1000;
		text-decoration: none;
		border-bottom: 1px solid #fff;
		line-height: 1;
		&::before{
			content: "";
			position: absolute;
			left: -22px;
			top: 9px;
			display: block;
			width: 13px;
			height: 13px;
			background: url(../img/yellow-circle.png) 0 0 no-repeat;
		}
		&_first{
			bottom: 43px;
			right: 35px;
		}
		&_second{
			top: 45px;
			left: 60px;
		}
		&_third{
			top: 45px;
			left: 60px;
		}
		@media only screen and (max-width : 1200px) {
			text-decoration: underline;
			border: 0;
			line-height: 25px;
			font-size: 19px;
		}
		@media only screen and (max-width : 1000px) {
			top: 25px;
			left: 40px;
			right: auto;
			bottom: auto;
		}
	}
}
.equipment{
	background: url(../img/equipment-bg.jpg) 0 0/cover no-repeat;
	@media only screen and (max-width : 700px) {
		padding: 18px 0 30px;
		&__button{
			text-align: center;
		}
	}
	&__descr{
		font-size: 23px;
		color: #fff;
		display: block;
		padding: 15px 0 30px;
		line-height: 20px;
		@media only screen and (max-width : 1000px) {
			font-size: 19px;
		}
		@media only screen and (max-width : 700px) {
			font-size: 16px;
			text-align: center;
		}
	}
	.container{
		position: relative;
		padding: 125px 15px 130px;
		@media only screen and (max-width : 1000px) {
			padding: 75px 15px 125px;
		}
		@media only screen and (max-width : 700px) {
			padding: 0 15px;
		}
	}
	&_order{
		position: absolute;
		right: 0;
		bottom: -35px;
		@media only screen and (max-width : 700px) {
			display: none;
		}
	}
}
.fast{
	padding: 47px 0 45px;
	@media only screen and (max-width : 991px) {
		padding: 20px 0;
	}
	&__inner{
		position: relative;
	}
	&__triangle{
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 18.5px 21px 18.5px;
		border-color: transparent transparent #efefef transparent;
		left: 15px;
		top: -21px;
		z-index: 100;
		@media only screen and (max-width : 991px) {
		 	top: auto;
	    bottom: -21px;
	    transform: rotate(180deg);
		}
		&::before{
	    content: "";
	    position: absolute;
	    top: 5px;
	    left: -15px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 14.5px 17px 14.5px;
	    border-color: transparent transparent #fff transparent;
	    z-index: 105;
		}
	}
	&__content-wrap{
		padding: 0 35px 0 0;
		@media only screen and (max-width : 991px) {
			padding: 0;
		}
	}
	&__content{
		background: url(../img/fast-bg.png) 130% 122% no-repeat;
		margin: 40px 0 0;
		border: 4px solid #efefef;
		border-radius: 3px;
		position: relative;
		padding: 15px 35px;
		@media only screen and (max-width : 700px) {
			padding: 10px 18px;
			margin: 20px 0 0;
		}
	}
	&__text{
		font-size: 16px;
		color: #555;
		padding: 15px 0;
		@media only screen and (max-width : 700px) {
			font-size: 15px;
			padding: 10px 0;
			line-height: 20px;
			padding: 10px 16px;
			strong{
				font-family: "GothamProBold";
			}
		}
	}
	.form_for_main_page{
		margin: 40px 0 20px;
		@media only screen and (max-width : 991px) {
			margin: 30px 0 20px;
			max-width: 100%;
			label{
				display: block;
			}
		}
	}
	&__button{
		text-align: center;
		margin-top: 19px;
	}
	button{
		background: none;
		border: none;
	}
	@media only screen and (max-width : 1200px) and (min-width : 991px) {
		.form_for_main_page__left,
		.form_for_main_page__right{
			width: 48%;
		}
	}
}
.contacts{
	padding: 50px 0 0;
	@media only screen and (max-width : 991px) {
		padding: 25px 0 0;
	}
	&__inner{
		padding: 40px 0 0;
		@media only screen and (max-width : 991px) {
			padding: 25px 0 0;
		}
	}
	&__items{
		padding-bottom: 45px;
		margin: 0 -12px;
		@media only screen and (max-width : 700px) {
			padding-bottom: 15px;
		}
	}
	&__item{
		width: 25%;
		float: left;
		padding: 0 12px;
		margin-bottom: 10px;
		@media only screen and (max-width : 1200px) {
			width: 50%;
		}
		@media only screen and (max-width : 580px) {
			margin: 0 auto 10px;
			max-width: 300px;
			width: 100%;
			float: none;
		}
	}
	.item{
		background-color: #e8eff2;
		padding: 20px 10px 0 64px;
		height: 122px;
		border-radius: 7px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			left: 20px;
			display: block;
			background-image: url(../img/contacts-ic.png);
			background-repeat: no-repeat;
		}
		&_mape::before{
			background-position: 0 -8px;
			height: 32px;
			width: 24px;
			top: 26px;
		}
		&_massage::before{
			background-position: -29px -12px;
			height: 24px;
			width: 32px;
			top: 29px;
		}
		&_time::before{
			background-position: -66px -10px;
			height: 32px;
			width: 32px;
			top: 27px;
		}
		&_number::before{
			background-position: -102px -9px;
			height: 32px;
			width: 31px;
			top: 27px;
		}
		&__text{
			color: #2f4c5b;
			font-size: 15px;
			display: block;
		}
		&__link{
			font-size: 14px;
			color: #196690;
			display: inline-block;
			border-bottom: 1px solid #c1d5e0;
			line-height: 1.3;
			padding-bottom: 2px;
		}
		&__title{
			font-size: 15px;
			color: #2f4c5b;
			font-family: "GothamProMedium";
			display: block;
		}
		&__number{
			font-size: 19px;
			color: #2f4c5b;
			font-family: "GothamProMedium";
			display: block;
		}
	}
	.mape{
		margin-bottom: 50px;
		@media only screen and (max-width : 991px) {
			margin-bottom: 25px;
		}
	}
	.form__title{
		color: #484e4c;
		font-size: 34px;
		display: block;
		text-align: center;
		line-height: 1.3;
		@media only screen and (max-width : 1000px) {
			font-size: 18px;
		}
	}
	.form__descr{
		color: #737876;
		font-size: 21px;
		display: block;
		text-align: center;
		line-height: 1.3;
		@media only screen and (max-width : 1000px) {
			font-size: 15px;
		}
	}
	.form_for_inner_page{
		margin: 25px 0 50px;
		@media only screen and (max-width : 991px) {
			margin: 15px 0 25px;
		}
		button{
			background: none;
			border: none;
		}
	}
}
.about{
	padding: 57px 0;
	&__descr{
		padding: 28px 0;
		font-size: 19px;
		color: #393f41;
		display: block;
		@media only screen and (max-width : 700px) {
			padding: 15px 0;
		}
	}
	.ul{
		margin-bottom: 25px;
	}
	.q{
		margin-bottom: 22px;
	}
	&__text{
		color: #5f5f5f;
		font-size: 15px;
		text-align: center;
		padding-bottom: 45px;
		@media only screen and (max-width : 700px) {
			padding-bottom: 25px;
			line-height: 1.3;
		}
	}
	&__order-title{
		display: block;
		font-size: 34px;
		color: #484e4c;
		text-align: center;
		padding-bottom: 8px;
		@media only screen and (max-width : 991px) {
			font-size: 18px;
			padding-bottom: 0;
		}
	}
	&__order-descr{
		text-align: center;
		display: block;
		font-size: 21px;
		color: #737876;
		padding-bottom: 25px;
		line-height: 1.3;
		@media only screen and (max-width : 991px) {
			font-size: 15px;
			padding-bottom: 15px;
		}
	}
	.button{
		border: none;
		background: none;
	}
	&__photos-block{
		margin: 0 -15px;
	}
	&__photo{
		width: 33.33%;
		float: left;
		padding: 0 15px 15px;
		@media only screen and (max-width : 700px) {
			width: 100%;
		}
	}
	.photo{
		display: block;
		border: 5px solid #e5e5e5;
		border-radius: 5px;
		background: #233944;
		overflow: hidden;
		@media only screen and (max-width : 700px) {
			max-width: 375px;
			margin: 0 auto;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			min-height: 100%;
		}
		&:hover{
			border-color: #006887;
			img{
				opacity: 0.52;
			}
		}
	}
}
.last-article{
	padding: 40px 0 0;
}
.article{
	padding: 25px 15px;
	margin: 0 auto;
	max-width: 400px;
	@media only screen and (max-width : 700px) {
		padding: 15px;
	}
	&__img{
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			display: block;
		}
	}
	&__img-descr{
		position: absolute;
		color: #fff;
		font-size: 16px;
		display: block;
		font-family: "GothamProBold";
		left: 35px;
		bottom: 30px;
		text-transform: uppercase;
		padding-left: 20px;
		line-height: 16px;
		background: url(../img/yellow-circle.png) 0 1px no-repeat;
	}
	&__txt{
		color: #484e4c;
		font-size: 15px;
		line-height: 23px;
		padding-bottom: 2px;
	}
	&__info{
		position: relative;
		padding: 7px 0 0;
		&::before{
			content: "";
			height: 1px;
			width: 100%;
			background: #e3e3e3;
			top: 50%;
			position: absolute;
			left: 0;
			z-index: -1;
			@media only screen and (max-width : 360px) {
				display: none;
			}
		}
	}
	&__date{
		margin-top: 2px;
		padding: 0 10px 0 22px;
		font-size: 14px;
		z-index: 100;
		color: #636363;
		float: left;
		display: inline-block;
		background: #fff url(../img/article__date-ic.png) left center no-repeat;
	}
	&__button{
		z-index: 100;
		display: inline-block;
		float: right;
		padding-left: 10px;
		background: #fff;
		@media only screen and (max-width : 360px) {
			float: none;
			padding-left: 0;
		}
	}
	&__nav{
		margin-top: 15px;
		padding: 22px 0 12px;
		background: #eeeeef;
	}
	&__page{
		display: inline-block;
		border-radius: 4px;
		width: 37px;
		line-height: 37px;
		text-align: center;
		background: #fff;
		color: #434444;
		font-size: 14px;
		transition: 0.3s all ease;
		margin: 0 10px 10px 0;
		&:hover{
			color: #fff;
			background: #34393b;
		}
	}
	&__nav-button{
		margin-bottom: 10px;
		display: inline-block;
		font-size: 14px;
		color: #fff;
		line-height: 37px;
		padding: 0 33px 0 20px;
		transition: 0.3s all ease;
		border-radius: 4px;
		background: #006087 url(../img/article__nav-ic.png) center right 15px no-repeat;
		&:hover{
			background-color: #023245;
		}
	}
}
@media only screen and (max-width : 450px) {
	.fancybox-wrap, .fancybox-desktop, .fancybox-type-image, .fancybox-opened{
		width: 92%!important;
		left: 4%!important;
		.fancybox-inner{
			width: 100%!important;
		}
	}
	.fancybox-close{
		right: -3px;
	}
}