.body {
  font-family: 'Open Sans', sans-serif; }

body, html {
  height: 100%; }

.n-header {
  display: table-row;
  height: 1px; }

.n-content {
  display: table-row; }

.n-footer {
  display: table-row;
  height: 1px; }

.n-wrapper {
  width: 100%;
  display: table; }

.n-content-inner {
  display: table-cell; }

.vertical-align {
  vertical-align: middle; }
