.footer{
	&_view{
		background: url("../img/footer-fon.jpg")no-repeat;
	}
	&_padding{
		padding: 40px 0 38px 0;
		background-size: cover;
	}
	&__logo{
		float: left;
	}
	&__address{
		color:white;
		font-size: 26px;
		font-weight: 300;
		float: left;
	}
	&__span1{
		color: rgb(237, 0, 140);
		font-weight: 600;
		padding-left: 20px;
	}
	&__span2{
		font-size: 11px;
		position: relative;
		top: -4px;
	}
}
.footer-box{
	width: 210px;
	margin: 0 auto;
}