.video-page{
	padding: 100px 0;
	@media only screen and (max-width : 992px) {
		padding: 50px 0;
	}
	@media only screen and (max-width : 700px) {
		padding: 20px 0;
	}
	.h2{
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 1.4;
		color: #000;
	}
	.video_descr{
    font-family: 'Uni Sans', 'Open Sans', arial sans-serif;
    font-size: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    line-height: 1.4;
	}
}
.video{
	margin: 25px auto;
	@media only screen and (max-width : 768px) {
		margin: 0 auto;
	}
	iframe{
		width: 100%;
		height: auto;
		display: block;
		min-height: 100%;
	}
	&_big{
		max-width: 720px;
		height: 405px;
		@media only screen and (max-width : 768px) {
			height: 300px;
		}
		@media only screen and (max-width : 380px) {
			height: 210px;
		}
	}
	&_sm{
		height: 210px;
		iframe{
			@media only screen and (max-width : 768px) {
				margin: 10px auto;
				width: auto;
				height: auto;
			}
		}
	}
}