$bg-c : #292c2e;
$bg-c-w: #f6f6f6;
$t-c-m : #ffffff;
$t-c-o-m : #d7a406;
$t-c-b-m : #005a84;
$t-c-lb-m : #1e91bc;

.first-block{
	height: 36px;
	background-color: $bg-c;
	.intowrap-fist-block{
		width: 330px;
		margin: 0 auto;  
	}
	.first-block__link{
		margin-left: 10px;
	}
	.first-block__wrap{
		display: inline-block;

	}
}

.second-block{
	height: 90px;
	background-color: $bg-c-w;
	.logo-m{
		margin-top: 10px;
	}
	.second-block__menu{
		float: right;
		margin-top: 20px;
	}
	.second-block__link{
		float: right;
	}
}
.third-block{
	height: 110px;
	background-color: #fff;
	.third-block__address{
		margin-top: 10px;
	}
}
.header-d{
		visibility: hidden;
		position: absolute;
	}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
	.header-m{
		visibility: hidden;
		position: absolute;
	}
	.header-d{
		visibility: visible;
		position: relative;
		.first-block{
			height: 200px;
			background-color: #ffffff; 
		}
		.logo-td{
			margin-left: -10px;
			margin-top: 30px; 
			width: 100%;
			height: auto; 
		}
		.first-block__address{
			margin-top: 20px;
		}
		.wrap-firstblock{
			margin-top: 30px;
			float: right;
		}
		.first-block__telephone{
			color: #3a4a5a; 
		}
		.first-block__link{
			float: right;
		}
		.first-block__search{
			float: right
		}
	}
	
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1248px) {
}

