.search-wrap { text-transform: uppercase; position: relative; border-radius: 25px; overflow: hidden; float: right; width: 100%; max-width: 140px; background: #ededed; }
@media only screen and (max-width: 1240px) { .search-wrap { max-width: 220px; } }
@media only screen and (max-width: 700px) { .search-wrap { display: none; } }
.search-wrap input[type="text"] { padding: 0 0 0 27px; background: #ededed; color: #919293; font-size: 15px; line-height: 45px; height: 45px; border: none; font-family: "GothamPro", arial, sans-serif; outline: none; text-transform: lowercase; width: 100%; }
.search-wrap input[type="submit"] { outline: none; border: none; position: absolute; right: 0; top: 0; width: 45px; height: 45px; color: transparent; display: block; background: url(/img/search-ic.png) center no-repeat; }

.search-wrap input[type="text"]:focus, .search-wrap input[type="text"]:active { color: #3c3c3c; }
